# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    build:
        runs-on: self-hosted
        strategy:
            matrix:
                node-version: [18.x]
                # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
        steps:
            - uses: actions/checkout@v3
            - name: "Decrypt .env secret"
              working-directory: ./server
              run: ./decrypt.sh
              env:
                  ENV_SECRET: ${{ secrets.ENV_SECRET }}
            - name: Use Node.js ${{ matrix.node-version }}
              uses: pnpm/action-setup@v2.2.4
              with:
                  version: 6.0.2
            - run: pnpm install -r
            - run: pnpm --if-present run build
            - run: pnpm test
